* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a:visited, a:active {
    color: inherit;
}

.super-contact p {
    display: inline-flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
}
.super-contact img {
    margin: 1px 6px;
    height: 15px;
}
.super-social img {
    margin: 5px;
    height: 20px;
}

nav h1 {
    display: inline;
    text-align: center;
    color: #858585;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 0 25px;
}

#home {
    color: #B2B74A;
}
#button-shop {
    color: white;
    padding: 20px 50px;
    background: #B2B74A;
}
#button-shop:hover {
    background: #A3A63F;
}

.banner-content {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(./resources/images/banner-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    color: white;
    font-family: 'BenchNine', sans-serif;
    font-style: normal;
    text-align: center;
}

.banner-content h1 {
    position: absolute;
    top: 10%;
    font-size: 183px;
    line-height: 284px;
    letter-spacing: 10px;
}

.banner-content h2 {
    position: absolute;
    top: 45%;
}

.banner-content button {
    color: white;
    position: absolute;
    top: 80%;
    font-size: 25px;
    width: 400px;
    height: 60px;
    background: #756C66;
    border: 1px solid #FFFFFF;
}

.our-company {
    display: flex;
    height: 580px;
}

.our-company img {
    flex-basis: 80%;
    padding: 60px;
}

.our-company div {
    width: 100%;
    padding: 50px;
    color: rgba(133, 133, 133, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-company h2 {
    color: rgba(65, 60, 56, 1);
    font-size: 60px;
}

.our-company p {
    max-width: 600px;
}

.default-btn {
    background: rgba(178, 183, 74, 1);
    color: white;
    border: none;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    display: block;
}


.our-services-container {
    margin-top: 400px;
    position: relative;
    background-color: #262B2B;
    padding: 60px;
}

.our-services-container h1 {
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 86px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}

.our-services-images-list {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.our-services-image img {
    height: 200px;
    object-fit: contain;
    margin: 60px;
}

.our-services-images-list p {
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.our-catalog-container {
    filter: grayscale(70%);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    background-image: url(./resources/images/guy-smilling.png);
}

.our-catalog-container h1 {
    text-align: center;
    padding: 150px;

    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 42px;
    color: #FFFFFF;
}

.our-catalog-text {
    position: relative;
    text-align: center;
    width: 600px;
    height: 50px;
    left: 35%;
    top: 30%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.our-catalog-button-container {
    position: relative;
    left: 43%;
    top: 35%;
    width: 310px;
    height: 65px;
}

#our-catalog-more {
    width: 100%;
    height: 100%;

    background: #5D5650;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    color: #FFFFFF;
}