* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a:visited, a:active {
    color: inherit;
}

.super-contact p {
    display: inline-flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
}
.super-contact img {
    margin: 1px 6px;
    height: 15px;
}
.super-social img {
    margin: 5px;
    height: 20px;
}

nav h1 {
    display: inline;
    text-align: center;
    color: #858585;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 0 25px;
    
}
#home {
    color: #B2B74A;
}
#button-shop {
    color: white;
    padding: 20px 50px;
    background: #B2B74A;
}
#button-shop:hover {
    background: #A3A63F;
}
.banner-content {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(./resources/images/banner-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;

    color: white;
    font-family: 'BenchNine', sans-serif;
    font-style: normal;
    text-align: center;
}

.banner-content h1 {
    position: absolute;
    top: 20%;
    font-size: 183px;
    line-height: 284px;
    letter-spacing: 10px;
}
.banner-content h2 {
    position: absolute;
    top: 45%;
}
.banner-content button {
    color: white;
    position: absolute;
    top: 90%;
    font-size: 30px;
    width: 400px;
    height: 70px; 
    background: #756C66;
    border: 1px solid #FFFFFF;
}