.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    padding-right: 120px;
    background: rgba(255, 255, 255, 0.95);
    padding-bottom: 200px;
}

.form .header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

.form .header .title {
    font-size: 65px;
    color: rgb(65, 60, 56);
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.email {
    flex-direction: column;
}   

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    flex-basis: 60%;
}

.fields div {
    background-color: rgba(178, 183, 74, 1);
    width: 100%;
    color: white;
    padding: 15px;
}

.fields :last-child {
    height: 100%;
    grid-column: span 2;
}

.button-wrapper {
    flex-basis: 100%;
}

.form-btn {
    border: 1px solid #B2B74A;
    background-color: transparent;
    color: #B2B74A;
    padding: 25px 120px;
    margin: auto;
    display: block;
    margin-top: 45px;
    font-size: 18px;
}

.form-wrapper {
    background-color: rgba(93, 86, 80, 1);
    padding: 80px;
}

.sub-title {
    font-size: 18px;
    margin-top: 20px;
}